.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
  padding:10px;
  width:100%;
}

.app__coloroptions{
  gap:20px;
  display:flex;
}

.app__coloroptions button{
  width:60px;
  height:40px;
  cursor:pointer;
  background-color: rgba(255 255 255 /.3);
  border:1px solid white;
  box-shadow:0 5px 5px rgba(0 0 0 /.5);
  transition:all 250ms ease-in-out;
  font-weight:600;
}


.app__coloroptions button:hover{
  background-color: black;
  color:white;
}

.app__colorshow{
  min-height:700px;
  display:flex;
  align-items: center;
}

.app__colorshow h1{
   font-size:3.5rem;
   color:white;
}